@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-right: 5vw;
    padding-left: 5vw;
    
    .logo_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        font-size: 8px;
        span{
            color: var(--color-background-1);
        }    

        img{
            width: 25px;
            height: 25px;
        }
    }
    
    ul{
        display: flex;
        list-style-type: none;
        width: auto;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
        flex-direction: row;

        li{
            display: inline;
            width: auto;
            padding-right: 0.3rem;
            padding-left: 0.3rem;
            
            &:hover{
                i, a{
                    cursor: pointer;
                    color: var(--color-neutral-3);
                    transition: all 0.2s ease-in-out;
                }
                background-color: #dddddd ;
                border-radius: 8px;
                width: auto;
            }

            
            i{
                font-size: 10px;
                color: var(--color-neutral-2);
            }

            a{
                width: 100%;
                font-size: 12px;
                font-weight: 600;
                font-family: Poppins ;
                text-decoration-line: none;
                color: var(--color-neutral-2);
            }
        }
    }

    #nav_links{
        display: flex;
        flex-direction: row;
    }
}