@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-top: -10px;
    
    .logo_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        color: var(--color-background-1);

        img{
            width: 50px;
            height: 50px;
        }
    }
    
    ul{
        display: flex;
        list-style-type: none;
        width: auto;
        margin: 0;
        padding: 0;
        gap: 2.5rem;
        flex-direction: row;

        li{
            display: inline-block;
            width: auto;
            
            a{
                width: 100%;
                font-size: 14px;
                text-decoration-line: none;
                color: var(--color-neutral-1);
            }
        }
    }

    #nav_links{
        display: flex;
        flex-direction: row;
    }
}