@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 15vw;
    padding-right: 15vw;
    
    .logo_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        font-size: 8px;
        span{
            color: var(--color-background-1);
        }    

        img{
            width: 35px;
            height: 35px;
        }
    }
    
    ul{
        display: flex;
        list-style-type: none;
        width: auto;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
        flex-direction: row;

        li{
            display: inline;
            width: auto;
            padding-right: 0.3rem;
            padding-left: 0.3rem;
            
            &:hover{
                i, a{
                    cursor: pointer;
                    color: var(--color-neutral-3);
                    transition: all 0.2s ease-in-out;
                }
                background-color: #dddddd ;
                border-radius: 8px;
                width: auto;
            }

            
            i{
                font-size: 10px;
                color: var(--color-neutral-2);
            }

            a{
                width: 100%;
                font-size: 12px;
                font-weight: 600;
                font-family: Poppins ;
                text-decoration-line: none;
                color: var(--color-neutral-2);
            }
        }
    }

    #nav_links{
        display: flex;
        flex-direction: row;
    }
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio{
    width: 100%;
    height: 400px;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-background-1);

    .baloon{
        color: var(--color-neutral-0);
        font-size: 10px;
        margin-bottom: 1rem;
        font-weight: 600;
        width: fit-content;
        padding: 0.5rem;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .content{
         h1{
            color: var(--color-neutral-0);
            line-height: 1.2;
            font-size: 2.5rem;
        }

        p{
            color: var(--color-neutral-0)
        }
    }

    .buttons{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: fit-content;
        font-size: 12px;
        font-weight: 500;

        
        .btn0 {
            background-color: var(--color-neutral-0);
            color: var(--color-background-1);
            text-decoration: none;
            border-radius: 8px;
            padding: 0.5rem;
        }

        .btn1 {
            background-color: rgba(255, 255, 255, 0.15);
            border: solid 1px rgba(255, 255, 255, 0.15);
            color: var(--color-neutral-0);
            text-decoration: none;
            border-radius: 8px;
            padding: 0.5rem;
        }
    }
}

.aprender{
    width: 100%;
    height: 400px;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-0);
    gap: 2rem;

    .content_aprender{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        width: 50%;

        span{
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--color-background-1);
        }

        h2{
            font-size: 30px;
        }

        ul{
            padding-top: 20px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1vh;

            li{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
                i{
                    color: var(--color-check);
                    font-size: 12px;
                    padding-bottom: 0;
                }
            }
        }

        p{
            font-size: 14px;
            font-weight: 350;
            color: var(--color-neutral-3);
        }
    }

    .card_aprender{
        display: flex;
        flex-direction: column;
        gap: 3.5vh;
        background-color: #ffffff;
        border: solid 1px rgba(255, 255, 255, 0.15);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 2rem;

        p{
            font-size: 12px;
            font-weight: 350;
            color: var(--color-neutral-3);

        }


        .card_aprender_head{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1vw;

            h3{
                font-size: 16px;
            }

            .icon_aprender{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52px;
                height: 52px;
                border-radius: 8px;
                background-color: #E7EDF5;
                font-size: 24px;
                color: var(--color-background-1);
            }
        }
    }
    
}

.explorar{
    width: 100%;
    min-height: 80vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vh;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;

    .explorar_texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8vh;
        padding-top: 8vh;
        margin-bottom: 8vh;
        
        span{
            color: var(--color-background-1);    
            text-transform: uppercase;
        }

        p{
            color: var(--color-neutral-3);
            font-weight: 350;
            font-size: 14px;
        }
    }

    .explorar_cards{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 100%;
        
        gap: 20px;

        .explorar_card{
            display: flex;
            flex-direction: column;
            gap: 2vh;
            background-color: #ffffff;
            border: solid 1px rgba(255, 255, 255, 0.15);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            padding: 1.2rem;

            .explorar_card_head{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1vw;

                #icon_0{
                    background-color: #124DA1;
                    color: #E7EDF5;
                }

                
                #icon_1{
                    background-color: #248F50;
                    color: #E7EDF5;
                }

                #icon_2{
                    background-color: #F26C0D;
                    color: #E7EDF5;
                }

                #icon_3{
                    background-color: #148FB8;
                    color: #E7EDF5;
                }

                .explorar_card_head_icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    border-radius: 8px;
                    background-color: #E7EDF5;
                    font-size: 20px;
                    color: var(--color-background-1);                   

                }


                .explorar_card_head_texts{

                    span{
                        color: var(--color-neutral-3);
                        font-weight: 500;
                        font-size: 10px;
                        text-transform: uppercase;
                    }

                    h3{
                        font-size: 20px;
                    }
                }
            }

            .explorar_card_content{
                display: flex;
                flex-direction: column;
                
                p{
                    color: var(--color-neutral-3);
                    font-size: 12px;
                    font-weight: 400;
                    padding-bottom: 10px;
                }

                a{
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--color-background-1);
                }
            }
        }
    }

}

.comecar{
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-0);

    .content_comecar{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
        background-color: var(--color-background-1);
        gap: 3vh;
        padding-top: 8vh;
        padding-bottom: 8vh;

        p, h2{
            color: var(--color-neutral-0);
        }

        p{
            font-size: 14px;
            font-weight: 250;
        }

        a{
            text-decoration: none;
            color: var(--color-background-1);
            width: fit-content;
            padding: 0.8rem;
            padding-right: 2vw;
            padding-left: 2vw;
            border-radius: 8px;
            font-size: 12px;
            font-weight: 550;
            background-color: var(--color-neutral-0);
        }
    }

}

.footer{
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text_final{
            text-align: center;
            padding-top: 4vh;
            margin-top: 10vh;
            width: 100%;
            color: var(--color-neutral-3);
            font-size: 12px;
            font-weight: 400;
            border-top: 1px solid rgba(106, 106, 106, 0.2);
        }

    .content_footer{
        display: flex;
        justify-content: space-between;
        gap: 4vw;

        h1, img{
            margin-bottom: 2vh;
        }

        .logo{
            display: flex;
            flex-direction: column;
            gap: 1vh;
            width: 33%;

            p{
                    color: var(--color-neutral-3);
                    font-size: 12px;
                    font-weight: 400;
                    padding-bottom: 10px;
            }

            .logo_icon{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.2rem;
                font-size: 8px;
                span{
                    color: var(--color-background-1);
                }    

                img{
                    width: 35px;
                    height: 35px;
                }
        }
        
        }

        .modulos{
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            ul{
                list-style-type: none;
                display: block;
                text-align: center;

                li{
                    padding: 0.2rem;
                    a{
                        color: var(--color-neutral-3);
                        font-size: 12px;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
            }

            h1{
                font-size: 1em;
            }
        }

        .sobre{
            width: 33%;
            h1{
                font-size: 1em;
            }

            p{
                    color: var(--color-neutral-3);
                    font-size: 12px;
                    font-weight: 400;
                    padding-bottom: 10px;
            }
        }

    }

}