:root{
    --color-neutral-0: hsl(0, 0%, 98%);
    --color-neutral-1: #0d0d0d;
    --color-neutral-2: #898989;
    --color-neutral-3: #6a6a6a;
    --color-background-0: #F9FAFB;
    --color-background-1: #1451A6;
}